body {
  color: #666;
  background-color: #fff;
}

body.dark-theme {
  color: #eee;
  background-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    color: #eee;
    background-color: #121212;
  }
  body.light-theme {
    color: #666;
    background-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: transparent;
}

th {
    text-align: left;
}

td {
    padding: 15px 0;
}

th:first-child,
td:first-child {
    text-align: center;
    width: 53px;
}

a,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 11px;
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

footer a {
    color: inherit;
}

button#btn-toggle {
    position: fixed; /* or position: absolute; */
    top: 5;
    right: 5;
}
