name: "newsletter"

on:
  workflow_dispatch:
    inputs:
      input_date:
        description: "Specify a date (YYYYMMDD), defaults to yesterday"
        required: false
        default: ""
  schedule:
    - cron: "2 0 * * *"

jobs:
  newsletter:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - run: npm i
      - name: "Set Args"
        run: |
          echo "TZ=Asia/Shanghai" >> $GITHUB_ENV
          echo "HTML_OUTPUT=result.html" >> $GITHUB_ENV
          echo "TEXT_OUTPUT=result.txt" >> $GITHUB_ENV
          echo "TELEGRAM_MESSAGE_FILE=telegram-bot.md" >> $GITHUB_ENV
          echo "TELEGRAPH_MESSAGE_FILE=telegraph.md" >> $GITHUB_ENV
          echo "ISSUE_OUTPUT=github-issue.md" >> $GITHUB_ENV
          input_date="${{ github.event.inputs.input_date }}"
          if [ -z "$input_date" ]; then
            echo "POST_DATE=$(TZ=':Asia/Shanghai' date --date=' 1 days ago' '+%Y%m%d')" >> $GITHUB_ENV
          else
            echo "POST_DATE=$input_date" >> "$GITHUB_ENV"
          fi
      - shell: bash
        if: "!cancelled()"
        env:
          LEANCLOUD_APP_ID: ${{ secrets.US_LEANCLOUD_APP_ID }}
          LEANCLOUD_APP_KEY: ${{ secrets.US_LEANCLOUD_APP_KEY }}
          LEANCLOUD_MASTER_KEY: ${{ secrets.US_LEANCLOUD_MASTER_KEY }}
        run: |
          node actions/newsletter.js --day ${{ env.POST_DATE }} \
          --htmloutput ${{ env.HTML_OUTPUT }} \
          --textoutput ${{ env.TEXT_OUTPUT }} \
          --issueoutput ${{ env.ISSUE_OUTPUT }} \
          --telegramoutput ${{ env.TELEGRAM_MESSAGE_FILE }} \
          --telegraphoutput ${{ env.TELEGRAPH_MESSAGE_FILE }}

          title=$(head -2 github-issue.md | grep title | sed 's/title: //' | sed 's/"//g')
          echo "TITLE=$title" >> $GITHUB_ENV
          git status
      - name: Add hackernew to github repo
        uses: EndBug/add-and-commit@v9
        with:
          author_name: mofish-bot
          add: "data"
      - name: Create github issue
        if: "!cancelled()"
        uses: JasonEtco/create-an-issue@v2
        id: create-issue
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: ${{ env.ISSUE_OUTPUT }}
      - name: Add issue link to telegram message
        run: |
          GITHUB_ISSUE_URL=${{ steps.create-issue.outputs.url }}
          GITHUB_ISSUE_URL="${GITHUB_ISSUE_URL:-https://github.com/jiacai2050/mofish}"
          echo "GITHUB_ISSUE_URL=${GITHUB_ISSUE_URL}" >> $GITHUB_ENV
          sed -i "s|__MOFISH_ISSUE_URL__|${GITHUB_ISSUE_URL}|g" $TELEGRAPH_MESSAGE_FILE
          sed -i "s|__MOFISH_ISSUE_URL__|${GITHUB_ISSUE_URL}|g" $TEXT_OUTPUT
          sed -i "s|__MOFISH_ISSUE_URL__|${GITHUB_ISSUE_URL}|g" $HTML_OUTPUT
      - name: Create telegraph post
        if: "!cancelled()"
        uses: jiacai2050/telegraph-action@v1
        id: send-telegraph
        with:
          token: ${{ secrets.TELEGRAPH_TOKEN }}
          title: ${{ env.TITLE }}
          md-file: ${{ env.TELEGRAPH_MESSAGE_FILE }}
          author-name: "mofish"
          author-url: "${{ env.GITHUB_ISSUE_URL }}"
      - name: Append link to step summary
        if: "!cancelled()"
        run: |
          echo "- GitHub issue: ${{ steps.create-issue.outputs.url }}" >> $GITHUB_STEP_SUMMARY
          echo "- Telegraph post: ${{ steps.send-telegraph.outputs.url }}" >> $GITHUB_STEP_SUMMARY
          tail -n +5 ${{ env.ISSUE_OUTPUT }} >> $GITHUB_STEP_SUMMARY
      - name: Send telegram
        if: "!cancelled()"
        run: |
          export TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }}
          # export TELEGRAM_CHAT_ID="@mofish_break"
          export TELEGRAM_CHAT_ID="-1002672418956"
          export TELEGRAPH_POST_URL="${{ steps.send-telegraph.outputs.url }}"
          export TELEGRAPH_POST_TITLE="${{ steps.send-telegraph.outputs.title }}"
          node actions/telegram.mjs
      - name: "Send mail"
        uses: dawidd6/action-send-mail@v6
        if: "!cancelled()"
        with:
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: ${{env.TITLE}}
          body: file://${{ env.TEXT_OUTPUT }}
          html_body: file://${{ env.HTML_OUTPUT }}
          to: mo-fish@googlegroups.com
          from: HNews Digest
